
form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.4em;
}

div.input {
  display: flex;
  align-items: center;
  padding: 0.4em;
}

label {
  padding-right: 0.4em;
}

input[type=time] {
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

input[type=submit] {
  padding: 0.6em 1em;
  border-radius: 4px;
  margin-left: 0.4em;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  padding: 0.4em;
}
